.testimony{
    position: relative;
    margin-bottom: 30px;
    p{
        position: absolute;
        top: 50%;
        left: 15%;
        font-family: var(--main-font-montserrat);
    }
}
.testimony:before{
    content: url(../../../assets/before.png);
}
.testimony-img{
    width: 100px;
    margin: 0 auto;
}

.customer-info{
    text-align: center;
    margin-top: 50px;
}
@media only screen and (max-width: 600px){
    .customer-info{
        margin-top: 105px;
        margin-bottom: 65px;
    }
}