.home-banner{
    height: 60vh;
    background-image: url(../../../../assets/courier-home.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.69);
    background-blend-mode: color-burn;
    position: relative;
}
.padding{
    padding: 30px;
}
.app-bg{
    background: rgba(0,97,146,1);
    background: -moz-linear-gradient(left, rgba(2,21,68,1) 0%,  rgba(0, 97, 146, 0.411) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,21,68,1)), color-stop(100% rgba(0,97,146,1)));
    background: -webkit-linear-gradient(left, rgba(2,21,68,1) 0%, rgba(0,97,146,1)100%);
    background: -o-linear-gradient(left, rgba(2,21,68,1) 0%, rgba(0,97,146,1)100%);
    background: -ms-linear-gradient(left, rgba(2,21,68,1) 0%, rgba(0,97,146,1)100%);
    background: linear-gradient(to right, rgba(2,21,68,1) 0%, rgba(0,97,146,1)100%);
    

    color: white;
    height: 320px;
}
.vehicle{
    h3{
        color: var(--main-color-primary);
    }
}
.home-content{
    color: white;
    text-align: center;
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;

    div{
        // width: 800px;
        margin: 0 auto;
    }
    h3{
        font-weight: bold;
        font-family: var(--main-font-roboto) !important;
        width: 400px;
        margin: 0 auto;
    }
    h1{
        font-family: var(--main-font-montserrat) !important;
        font-weight: 800;
        
    }
    .input-group{
        input{
            height: calc(4rem + 2px);          
            border: transparent;
        }
        .city-form{
            border-right: 1px solid grey;
            border-bottom-left-radius: 32px;
            border-top-left-radius: 33px;
        }
    
        .button-span{
            color: white;
            background-color: var(--main-color-primary);
            padding: 20px 35px;
            border-bottom-right-radius: 32px;
            border-top-right-radius: 33px;
        }
    }
}
.color-secondary{
    color: var(--main-color-secondary);
}
.features{
    margin-top: 70px;
    p{
        color: var(--main-color-greytext);
        font-family: var(--main-font-montserrat);
    }
    h4{
        color: var(--main-color-primary);
        font-family: var(--main-font-roboto);
    }
}
.delivery-input{
    span{
        background-color: white;
        border-right: transparent;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    input{
        border-left: transparent;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }
}
.google-image{
    width: 150px;
    margin-top: 30px;
    
}
.feature-heading{
    
    h2{
        padding: 0px 240px;
        margin: 0 auto;
        margin-bottom: 5px;
        color: var(--main-color-primary);
        font-family: var(--main-font-roboto);
    }
    p{
        padding: 0px 100px;
        color: var(--main-color-greytext);
        font-family: var(--main-font-montserrat);
    }
}
.download-app{
    margin-top: 12%;
    font-family: var(--main-font-montserrat);
}
.stat{
    padding: 20px;
    p{
        width: 125px;
        font-family: var(--main-font-roboto) !important;
        color: #8A959E;
    }
}
.request{
    font-family: var(--main-font-montserrat);
}

@media only screen and (max-width: 600px){
    .home-banner{
        height: 45vh;
    }
    h2{
        font-size: 22px !important;
        font-weight:bold;
    }
    h3{
        font-size: 20px;
        font-weight: bold;
    }
    .features{
        p{
            font-size: 12px !important; 
        }
        h4{
            font-size: 16px !important;
        }
    }
    .feature-heading{
        p{
            padding: 0px;
            font-size: 12px;
            margin-top: 15px !important;
        }
        h2{
            padding: 0px;
            font-size: 20px;
            font-weight: bold;
        }
    }
    .home-content{
        top: 15%;

        h1{
            font-size: 25px;
            font-weight: bold;
        }
        h3{
            width: auto;
            font-size: 18px;
            margin-bottom: 20px;
        }
        .input-group{
            .button-span{
                padding: 0px;
                font-size: 12px;
                padding: 10px;
            }
            input{
                height: auto;
            }
            input::placeholder{
                font-size: 12px;
            }
        }
    }
    .stat{
        p{
            width: auto;
            font-weight: bold;
            color: var(--main-color-primary);
            margin-top: 20px !important;
        }
    }
    
}