<app-home-nav></app-home-nav>
<div class="height"></div>

<app-courier-tab></app-courier-tab>

<div class="home-banner">
    <div class="home-content container">
        <div>
            <h1>Find Nearby Drivers For Your Pickup and Delivery Needs</h1>
            <br>
            <h3 class="color-secondary">Nigeria's No 1 On-demand Delivery and Pickup Platform</h3>
        </div>
        <br>
        <div class="input-group">
            <input type="text"  class="form-control city-form" placeholder="Pickup address">
            <input type="text" class="form-control area-form" placeholder="Delivery address">
            <div class="input-group-append">
                <span class="input-group-text button-span" id="basic-addon2">Register</span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="stat">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-3">
                        <img src="../../../../assets/driver.png">
                    </div>
                    <div class="col-lg-9 col-md-9 col-9">
                        <p>Over 300 Registered Dispatchers</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="stat">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-3">
                        <img src="../../../../assets/place.png">
                    </div>
                    <div class="col-lg-9 col-md-9 col-9">
                        <p>Over 3000 Deliveries Made</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="stat">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-3">
                        <img src="../../../../assets/smartphone.png">
                    </div>
                    <div class="col-lg-9 col-md-9 col-9">
                        <p>Over 100 Daily Request</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container mtb-40">
    <div class="text-center feature-heading">
        <h2>On demand Pickup and Delivery Services With Realtime Update</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="row features">
        <div class="col-md-4 col-lg-4 col-xl-4 col-12">
            <h4>Enter Pickup and Delivery Address</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <br>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 col-12">
                <h4>Select Nearest And Preferred Dispatcher</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <br>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 col-12">
                <h4>Get It Picked Up and Delivered Quick</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <br>
        </div>
    </div>
</div>

<br>
<div class="app-bg mtb-40">
    <div class="container p-50">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-6">
                
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="download-app">
                    <h2>Download Our App</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <div class="google-image">
                        <img src="../../../../assets/google-play.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container mtb-40">
    <div class="row">
        <div class="col-md-5 col-xl-5 col-lg-5 request">
            <div>
                <h3>Request for a BoxIt Delivery Driver</h3>

                    <div class="form-group">                        
                        <div class="input-group delivery-input mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text delivery-span" id="basic-addon1"><img src="../../../../assets/list-style.png"></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Pickup Address">
                        </div>
                        <div class="input-group delivery-input mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text delivery-span" id="basic-addon1"><img src="../../../../assets/list-style.png"></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Drop Address">
                        </div>
                </div>
                <br>
                <button class="btn btn-primary btn-block">Request BoxIt</button>
                <br>
            </div>
        </div>
        <div class="col-md-7 col-xl-7 col-lg-7">
            <div>
                <img src="../../../../assets/map.png">
            </div>
        </div>
    </div>
</div>

<br>
<div>   
    <app-dispatch-banner></app-dispatch-banner>
</div>
<br>
<div class="mtb-40">
    <app-sponsors></app-sponsors>
</div>

<br>
<div class="container mtb-40">
    <div class="vehicle text-center">
        <h3 class="make-bold color-heading roboto">What Users Are Saying About BoxIt</h3>
    </div>
    <br>

    <app-testimony></app-testimony>
</div>
<br>
<app-footer></app-footer>