footer{
    background-color: #121212;
    color: white;
    position: absolute;
    width: 100%;
    ul{
        list-style-type: none;
        font-size: 16px;
    }
}
.sub-footer{
    background-color: #000000;

    ul{
        display: inline-flex;
        list-style-type: none;
        justify-content: flex-end;
    }
}
.footer-img{
    width: 100px;
}
.footer-list{
    background-color: #121212;
    padding: 40px 0px;
}
.footer-play{
    width: 200px;
}
.bottom-footer{
    text-align: right;
    ul{
        li{
            padding: 0px 10px;
        }
        
    }
}
@media only screen and (max-width: 600px){
    footer{
        ul{
            padding-left: 0px;
        }
    }   
}