<footer>
  <div class="footer-list">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-12">
          <div class="footer-img">
            <img src="../../../assets/footer-logo.png">
          </div>
          <br>
        </div>
        
        <div class="col-md-3 col-lg-3 col-12">
          <div>
            <ul>
              <li class="make-bold">About Box-it</li>
              <li>How Box-it works</li>
              <li>Safety</li>
              <li>Careers</li>
              <li>Countries</li>
              <li>FAQs</li>
            </ul>
          </div>
        </div>
        <br>
        <div class="col-md-3 col-lg-3 col-12">
          <div>
            <ul>
              <li class="make-bold">Be a Dispatcher</li>
              <li>Sign up to be a Dispatcher</li>
              <li>Requirements</li>
              <li>Drivers App</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-12">
          <div class="footer-play">
            <img src="../../../assets/google-play.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <div class="container bottom-footer">
      <div>
        <ul>
          <li>Accessibility</li>
          <li>Terms</li>
          <li>&copy; 2018 Boxit</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
