<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="bg-white input-content">
                    <div class="">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item border-right">
                                <a class="nav-link" #signin id="pills-home-tab" data-toggle="pill" (click)="signIn()" role="tab" aria-controls="pills-home"
                                    aria-selected="true">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" #signup id="pills-profile-tab" data-toggle="pill" (click)="signUp()" role="tab" aria-controls="pills-profile"
                                    aria-selected="false">Sign Up</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" #tabone>
                                <form>
                                    <div class="sign-input">
                                        <input type="email" placeholder="Email Address" class="form-control">
                                        <br>
                                        <input type="password" placeholder="password" class="form-control">

                                        <br>
                                        <button class="btn btn-primary">Sign In</button>

                                        <br>
                                        <p class="text-primary">Or Sign-In with Social Media</p>
                                        <div class="social-icons">
                                            <div>
                                                <a><i class="fab fa-facebook-f"></i></a>
                                            </div>
                                            <div>
                                                <a><i class="fab fa-google-plus-g"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" #tabtwo>
                                <form>
                                    <div class="sign-input">
                                        <input type="text" placeholder="Fullname" class="form-control">
                                        <br>
                                        <input type="email" placeholder="Email Address" class="form-control">
                                        <br>
                                        <input type="tel" placeholder="Phone Number" class="form-control">
                                        <br>
                                        <input type="password" placeholder="password" class="form-control">

                                        <br>
                                        <button class="btn btn-primary">Sign Up</button>
                                        <br>
                                        <p class="text-primary">Or Sign-In with Social Media</p>
                                        <div class="social-icons">
                                            <div>
                                                <a><i class="fab fa-facebook-f"></i></a>
                                            </div>
                                            <div>
                                                <a><i class="fab fa-google-plus-g"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>