.home-banner{
    height: 50vh;
    background-image: url(../../../../assets/courier-home.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.69);
    background-blend-mode: color-burn;
    position: relative;
}
.home-content{
    color: white;
    text-align: center;
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;

    h1{
        color: var(--main-color-secondary)
    }
    div{
        width: 800px;
        margin: 0 auto;
    }
    h3{
        width: 400px;
        margin: 0 auto;
    }
    .input-group{
        input{
            height: calc(4rem + 2px);          
            border: transparent;
        }
        .city-form{
            border-right: 1px solid grey;
            border-bottom-left-radius: 32px;
            border-top-left-radius: 33px;
        }
    
        .button-span{
            color: white;
            background-color: var(--main-color-primary);
            padding: 20px 35px;
            border-bottom-right-radius: 32px;
            border-top-right-radius: 33px;
        }
    }
}
.filter-pagination{
    position: relative;
    

    nav{
        position: absolute;
        right: 0;
    }
    .page-item.active .page-link{
        background-image: linear-gradient(to right, rgba(2,21,68,1), rgba(0,97,146,1)) !important;
        border: transparent;
        color: white;
    }
    .page-link{
        color: var(--main-color-primary);
    }
}
.vehicle-icon{
    width: 30px;
    margin-right: 0px;
    margin-left: auto;
}
.dispatch-img{
    width: 120px;
    margin: 0 auto;
}
.dispatch-info button {
    background-color: var(--main-color-primary);
    color: white;
    width: 200px;
}
@media only screen and (max-width: 600px){
    .home-banner{
        height: 30vh;
    }
    .home-content{
        top: 15%;
        

        h1{
            font-size: 25px;
            font-weight: bold;
        }
        h3{
            width: auto;
            font-size: 18px;
            margin-bottom: 20px;
        }
        .input-group{
            .button-span{
                padding: 0px;
                font-size: 12px;
                padding: 10px;
            }
            input{
                height: auto;
            }
            input::placeholder{
                font-size: 12px;
            }
        }
        div{
            width: auto;
        }
    }
}