<app-home-nav></app-home-nav>
<app-courier-tab></app-courier-tab>

<div class="home-banner">
    <div class="home-content container">
        <div>
            <h1>Nearby Dispatcher</h1>
            <br>
            <div class="input-group">
                <input type="text"  class="form-control city-form" placeholder="Pickup address">
                <input type="text" class="form-control area-form" placeholder="Delivery address">
                <div class="input-group-append">
                    <span class="input-group-text button-span" id="basic-addon2">Register</span>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="filter-pagination">
        <nav aria-label="">
            <ul class="pagination">
                <li class="page-item active">
                    <a class="page-link" href="#" tabindex="-1">All</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">Bikes</a></li>
                <li class="page-item"><a class="page-link" href="#">Car</a></li>
                <li class="page-item"><a class="page-link" href="#">Trucks</a></li>
            </ul>
        </nav>
    </div>

    <br>

    <div class="mtb-40">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="box-shadow bg-white p-10 dispatch-info">
                    <div class="vehicle-icon">
                        <img src="../../../../assets/motorbike-icon.png">
                    </div>
                    <div class="text-center">
                        <div class="dispatch-img">
                            <img src="../../../../assets/dispatch.png">
                        </div>
                        <div>
                            <h4>Babatunde Marvel</h4>
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div>
                        <hr>
                        <div class="row text-center">
                            <div class="col-md-6 col-6">
                                <h6 class="text-primary">Toyota Camry</h6>
                                <p class="make-grey">Car type</p>
                            </div>
                            <div class="col-md- col-6">
                                <h6>AA884BKN</h6>
                                <p class="make-grey">Plate No</p>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div class="text-center">
                        <p>30 mins Away</p>
                        <button class="btn">SELECT DRIVER</button>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-4 col-12">
                <div class="box-shadow bg-white p-10 dispatch-info">
                    <div class="vehicle-icon">
                        <img src="../../../../assets/car-icon.png">
                    </div>
                    <div class="text-center">
                        <div class="dispatch-img">
                            <img src="../../../../assets/dispatch.png">
                        </div>
                        <div>
                            <h4>Babatunde Marvel</h4>
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div>
                        <hr>
                        <div class="row text-center">
                            <div class="col-md-6 col-6">
                                <h6 class="text-primary">Toyota Camry</h6>
                                <p class="make-grey">Car type</p>
                            </div>
                            <div class="col-md-6 col-6">
                                <h6>AA884BKN</h6>
                                <p class="make-grey">Plate No</p>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div class="text-center">
                        <p>30 mins Away</p>
                        <button class="btn">SELECT DRIVER</button>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-4 col-12">
                <div class="box-shadow bg-white p-10 dispatch-info">
                    <div class="vehicle-icon">
                        <img src="../../../../assets/van-icon.png">
                    </div>
                    <div class="text-center">
                        <div class="dispatch-img">
                            <img src="../../../../assets/dispatch.png">
                        </div>
                        <div>
                            <h4>Babatunde Marvel</h4>
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div>
                        <hr>
                        <div class="row text-center">
                            <div class="col-md-6 col-6">
                                <h6 class="text-primary">Toyota Camry</h6>
                                <p class="make-grey">Car type</p>
                            </div>
                            <div class="col-md-6 col-6">
                                <h6>AA884BKN</h6>
                                <p class="make-grey">Plate No</p>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div class="text-center">
                        <p>30 mins Away</p>
                        <button class="btn">SELECT DRIVER</button>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<app-dispatch-banner></app-dispatch-banner>
<app-newsletter></app-newsletter>
<app-footer></app-footer>