.home-banner{
    height: 40vh;
    background-image: url(../../../../assets/food-delivery-home.png);
    background-size: cover;
    position: relative;
    background-color: #006594ba;
    background-blend-mode: color-burn;
}
.home-content{
    

    .container{
        position: absolute;
        width: 100%;
        right: 0;
        left: 0;
        bottom: -50px;
    }
}
.eatery-info{
    color: white;
}

.restaurant-banner{
    .nav{
        justify-content: center !important;
        box-shadow: 0px 0px 12px rgb(219, 219, 219);
        background-color: white;

        .nav-item{
            border: 1px solid rgb(219, 219, 219);
            border-bottom: transparent;
        }
        .nav-link{
            width: 200px;
            padding: 20px;
            position: relative;
            text-align: center;
            color: var(--main-color-primary);
            font-weight: bold;
        }
        .nav-link.active{
            color: var(--main-color-primary);
            background-color: transparent;
            box-shadow: 0px 0px 12px rgb(219, 219, 219);
        }
        .nav-link.active::after{
            content: '';
            position: absolute;
            top: 100%;
            left: calc(50% - 10px);
            background: white;
            box-shadow: 0px 20px 12px rgb(219, 219, 219);
            width: 25px;
            height: 15px;
            z-index: 20;
            clip-path: polygon(0 0, 100% 0, 50% 100%);
        }
    }
}
.restaurant-img{
    box-shadow: 0px 3px 18px -5px #c7c7c7;
}
.text-primary{
    color: var(--main-color-primary) !important;
}
.bg-greylight{
    background-color: var(--main-color-greylight);
}
.food-item{
    h5{
        margin-bottom: 2px;
    }
    .portion{
        margin-top: -4px !important;
        margin-bottom: 15px !important;
    }
}
.food-button{
    background-color: var(--main-color-primary);
    color: white;
    text-align: right;
    border-radius: 15px;
    padding: 3px 9px 3px 15px;
    position: relative;
    top: 20%;

    a{
        color: white;
    }
    a:hover{
        text-decoration: none;
    }
    .food-icon{
        color: var(--main-color-primary);
        background-color: white;
        padding: 0px 4px;
        border-radius: 100%;
        margin-left: 4px;
    }
    
}
.review{
    background-color: var(--main-color-greylight);
    max-width: 800px;
    margin: 0 auto;

}
.review-hr{
    margin: 0px !important;
}
.p-40{
    padding: 40px !important;
}
.list-group-item{
    background-color: transparent;
}
.hr-p{
    padding: 15px 
}
.review-img{
    width: 100px;
    margin: 0 auto;
    border-radius: 100%;
}
.p-20{
    padding: 20px;
}
.map{
    background-color: var(--main-color-greylight);
    margin: 0 auto;
    max-width: 800px;
}
.italics{
    font-style: italic;
}
@media only screen and (max-width: 600px){
    .home-content{
        .container{
            bottom: 0px;

            
        }
    }
    .restaurant-banner{
        .nav{
            .nav-link{
                width: 100px;
                padding: .5rem;
            }
        }
        .nav-link.active::after{
            width: 15px !important;
            height: 10px !important;
            z-index: 20;
            clip-path: polygon(0 0, 100% 0, 50% 100%);
        }
    }
}