<app-home-nav></app-home-nav>

<app-food-delivery-tab></app-food-delivery-tab>
<div class="restaurant-banner">
  <div class="home-banner">
    <div class="home-content">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-3">
            <div class="restaurant-img">
              <img src="../../../../assets/theplace.png">
            </div>
          </div>
          <div class="col-md-10 col-9 eatery-info">
            <h4>The Place Eatery</h4>
            <p>African, Nigerian, International</p>

            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i> &nbsp;
              <span>(12) </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
          aria-selected="true">Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
          aria-selected="false">Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
          aria-selected="false">Info</a>
      </li>
    </ul>
  </div>
</div>

<div class="container tab-layout">
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <br>
      <div class="row">
        <div class="col-md-3 col-lg-3">
          <h4 class="make-grey">Category</h4>

          <div class="bg-white box-shadow">
            <div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-primary">Main Dish</li>
                <li class="list-group-item">Soup</li>
                <li class="list-group-item">Protein</li>
                <li class="list-group-item">Sides</li>
                <li class="list-group-item">Snacks</li>
                <li class="list-group-item">Deserts</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <h5 class="make-grey">Main Dishes</h5>

          <div class="bg-greylight box-shadow">
            <div class="food-item  p-10">
              <div class="row">
                <div class="col-md-3 col-3">
                  <img src="../../../../assets/rice.png">
                </div>
                <div class="col-md-9 col-9">
                  <div class="row">
                    <div class="col-md-8 col-7">
                      <h5>Fried Rice</h5>
                      <p class="portion">1 Portion</p>
                      <p>₦500.00</p>
                    </div>
                    <div class="col-md-4 col-5">
                      <p class="text-align-right food-button"><a href=""><span>Add</span><span class="food-icon"><i class="fas fa-plus"></i></span></a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="food-item  p-10">
              <div class="row">
                <div class="col-md-3 col-3">
                  <img src="../../../../assets/rice.png">
                </div>
                <div class="col-md-9 col-9">
                  <div class="row">
                    <div class="col-md-8 col-7">
                      <h5>Fried Rice</h5>
                      <p class="portion">1 Portion</p>
                      <p>₦500.00</p>
                    </div>
                    <div class="col-md-4 col-5">
                      <p class="text-align-right food-button"><a href=""><span>Add</span><span class="food-icon"><i class="fas fa-plus"></i></span></a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="food-item  p-10">
              <div class="row">
                <div class="col-md-3 col-3">
                  <img src="../../../../assets/rice.png">
                </div>
                <div class="col-md-9 col-9">
                  <div class="row">
                    <div class="col-md-8 col-7">
                      <h5>Fried Rice</h5>
                      <p class="portion">1 Portion</p>
                      <p>₦500.00</p>
                    </div>
                    <div class="col-md-4 col-5">
                      <p class="text-align-right food-button"><a href=""><span>Add</span><span class="food-icon"><i class="fas fa-plus"></i></span></a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br>
          <h5 class="make-grey">Soup</h5>

          <div class="bg-greylight box-shadow">
            <div class="food-item  p-10">
              <div class="row">
                <div class="col-md-3 col-3">
                  <img src="../../../../assets/rice.png">
                </div>
                <div class="col-md-9 col-9">
                  <div class="row">
                    <div class="col-md-8 col-7">
                      <h5>Fried Rice</h5>
                      <p class="portion">1 Portion</p>
                      <p>₦500.00</p>
                    </div>
                    <div class="col-md-4 col-5">
                      <p class="text-align-right food-button"><a href=""><span>Add</span><span class="food-icon"><i class="fas fa-plus"></i></span></a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="food-item  p-10">
              <div class="row">
                <div class="col-md-3 col-3">
                  <img src="../../../../assets/rice.png">
                </div>
                <div class="col-md-9 col-9">
                  <div class="row">
                    <div class="col-md-8 col-7">
                      <h5>Fried Rice</h5>
                      <p class="portion">1 Portion</p>
                      <p>₦500.00</p>
                    </div>
                    <div class="col-md-4 col-5">
                      <p class="text-align-right food-button"><a href=""><span>Add</span><span class="food-icon"><i class="fas fa-plus"></i></span></a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="food-item  p-10">
              <div class="row">
                <div class="col-md-3 col-3">
                  <img src="../../../../assets/rice.png">
                </div>
                <div class="col-md-9 col-9">
                  <div class="row">
                    <div class="col-md-8 col-7">
                      <h5>Fried Rice</h5>
                      <p class="portion">1 Portion</p>
                      <p>₦500.00</p>
                    </div>
                    <div class="col-md-4 col-5">
                      <p class="text-align-right food-button"><a href=""><span>Add</span><span class="food-icon"><i class="fas fa-plus"></i></span></a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <h5 class="make-grey">Your Order</h5>

          <div class="bg-white">
            <div>
              <div class="item-price">
                <div class="row">
                  <div class="col-md-6">
                    <p>Fried Rice</p>
                  </div>
                  <div class="col-md-6">

                  </div>
                </div>
              </div>
              <div>
                <table></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <br>
      <div class="review box-shadow">
        <div class="text-center">
          <h3>User Feedback</h3>
          <p>Hi, Write a Review About The Place</p>
        </div>

        <hr>
        <div class="p-40">

          <h5>Ratings</h5>


          <br>

          <p>Write about the restaurant</p>

          <div class="form-group">
            <div class="input group">
              <input type="text" placeholder="Write Short Review" class="form-control">
            </div>
            <br>
            <div class="input group">
              <textarea class="form-control" rows="5" placeholder="Write your message"></textarea>
            </div>
            <br>
            <div class="text-right">
              <button class="btn btn-primary">Send Feedback</button>
            </div>
          </div>
        </div>
      </div>

      <br>
      <div class="review box-shadow">
        <div>
          <h5 class="hr-p" color="grey">30 Reviews</h5>
        </div>
        <hr class="review-hr">

        <div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-3 col-4">
                  <div class="text-center">
                    <div class="review-img">
                      <img src="../../../../assets/testimony.png">
                    </div>
                    <h6>Customer name</h6>
                  </div>
                </div>
                <div class="col-md-9 col-8">
                  <h4>Awesome !!!!</h4>
                  <div>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. </p>
                </div>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
      <br>
      <div class="map p-20 box-shadow">
        <h3>Restaurant Info</h3>
        <br>
        <div>
          <img src="../../../../assets/map.png">
        </div>

        <br>
        <div class="italics">
          <div class="row">
            <div class="col-md-3 col-3">
              <p class="make-grey">Location:</p>
            </div>
            <div class="col-md-9 col-9">
              <p class="make-bold">Hasmed Mall, Kemfat Street, Thomas Estate, Ajah, Lagos</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-3">
              <p class="make-grey">Cuisines:</p>
            </div>
            <div class="col-md-9 col-9">
              <p class="make-bold">African in Lagos Nigeria in Lagos International Lagos</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-3">
              <p class="make-grey">Service Hours</p>
            </div>
            <div class="col-md-9 col-9 make-bold">
              <div class="row ">
                <div class="col-md-6 col-6">
                  <p>Mondays</p>
                </div>
                <div class="col-md-6 col-6">
                  <p>10.00 - 19.30</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-6">
                  <p>Tuesdays</p>
                </div>
                <div class="col-md-6 col-6">
                  <p>10.00 - 19.30</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-6">
                  <p>Wednesdays</p>
                </div>
                <div class="col-md-6 col-6">
                  <p>10.00 - 19.30</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-6">
                  <p>Thursdays</p>
                </div>
                <div class="col-md-6 col-6">
                  <p>10.00 - 19.30</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-6">
                  <p>Fridays</p>
                </div>
                <div class="col-md-6 col-6">
                  <p>10.00 - 19.30</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-6">
                  <p>Saturdays</p>
                </div>
                <div class="col-md-6 col-6">
                  <p>10.00 - 19.30</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-6">
                  <p>Sundays</p>
                </div>
                <div class="col-md-6 col-6">
                  <p>10.00 - 19.30</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>


<app-google-play></app-google-play>
<br>

<app-newsletter></app-newsletter>
<br>

<app-footer></app-footer>