<app-home-nav></app-home-nav>

<app-courier-services></app-courier-services>
<div class="restaurant-banner">
  <div class="home-banner">
    <div class="home-content">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-3">
            <div class="dispatch-img">
              <img src="../../../../assets/dispatch.png">
            </div>
          </div>
          <div class="col-md-10 col-9 eatery-info">
            <h4>Babatunde Marvel</h4>
            <div class="dispatch-star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i> &nbsp;
              <span>(12) </span>
            </div>
            <div>
                <div class="row" color="white">
                    <div class="col-md-3 col-6">
                        <h6>Toyota Camry</h6>
                        <p class="mt-5">Car type</p>
                    </div>
                    <div class="col-md-3 col-6">
                        <h6>AA884BKN</h6>
                        <p class="mt-5">Plate No</p>
                    </div>
                    <div class="col-md-6 d-none d-md-block">

                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Message</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Profile Details</a>
          </li>
        </ul>
  </div>
</div>

<div class="container tab-layout">
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <br>
            <div class="bg-white map-name">
                <h5 class="text-center make-grey">Babatunde Marvel</h5>
              </div>
            
              <div>
                <img src="../../../../assets/map.png">
              </div>
            
              <br>
              <div class="text-right">
                <button class="btn btn-primary">Cancel Request</button>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <br>
            <div class="dispatch-chat">
                <div class="row p-25">
                  <div class="col-md-7">
                    <div>
                      <div class="row">
                        <div class="col-md-2 col-3">
                          <div class="dispatch-small-img">
                              <img src="../../../../assets/dispatch.png">
                          </div>
                        </div>
                        <div class="col-md-10 col-9">
                          <div>
                              <ul class="dispatch-time">
                                  <li class="dispatch-name">Sowunmi Olawunmi</li>
                                  <li>May 14, 3:35PM</li>
                              </ul>
                              <p class="dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                  consequat. </p>
                          </div>
                        </div>
                      </div>
            
                    </div>
                  </div>
                  <div class="col-md-5">
            
                  </div>
                </div>
                <hr>
                <div class="p-25">
                  
                  <div class="form-group">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Reply to Babatunde Marvel">
                      <span class="input-group-addon">Send</span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="row">
                <div class="col-md-3 col-3">
                  <img src="../../../../assets/dispatch-img.png">
                </div>
                <div class="col-md-6 col-9 border-bottom">
                    <h4>Babatunde Marvel</h4>
                    <div>
                        <div class="row">
                            <div class="col-md-4 col-6">
                                <h6 class="text-primary">Toyota Camry</h6>
                                <p class="make-grey">Car type</p>
                            </div>
                            <div class="col-md-4 col-6">
                                <h6>AA884BKN</h6>
                                <p class="make-grey">Plate No</p>
                            </div>
                            <div class="col-md-4 d-none d-md-block">
            
                            </div>
                        </div>
                    </div>
                    <div>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i> &nbsp;
                      <span>(12) </span>
                    </div>
            
                </div>
                <div class="col-md-3 d-none d-md-block">
                  
                </div>
              </div>
        </div>
    </div>
</div>
<br>




<br>
<div class="container">
  
</div>

<br>
<app-footer></app-footer>