.home-banner{
    height: 40vh;
    background-image: url(../../../../assets/food-delivery-home.png);
    background-size: cover;
    position: relative;
    background-color: #006594ba;
    background-blend-mode: color-burn;
}
.home-content{
    

    .container{
        position: absolute;
        width: 100%;
        right: 0;
        left: 0;
        bottom: -30px;
    }
}
.eatery-info{
    color: white;
}

.restaurant-banner{
    .nav{
        justify-content: center !important;
        box-shadow: 0px 0px 12px rgb(219, 219, 219);
        background-color: white;

        .nav-item{
            border: 1px solid rgb(219, 219, 219);
            border-bottom: transparent;
        }
        .nav-link{
            width: 200px;
            padding: 20px;
            position: relative;
            text-align: center;
            color: var(--main-color-primary);
            font-weight: bold;
        }
        .nav-link.active{
            color: var(--main-color-primary);
            background-color: transparent;
            box-shadow: 0px 0px 12px rgb(219, 219, 219);
        }
        .nav-link.active::after{
            content: '';
            position: absolute;
            top: 100%;
            left: calc(50% - 10px);
            background: white;
            box-shadow: 0px 20px 12px rgb(219, 219, 219);
            width: 25px;
            height: 15px;
            z-index: 20;
            clip-path: polygon(0 0, 100% 0, 50% 100%);
        }
    }
}
.dispatch-img{
    box-shadow: 0px 3px 18px -5px #c7c7c7;
    border-radius: 100%
}
.map-name{
    padding: 12px;
    margin-bottom: 10px;
    
}
.dispatch-time{
    list-style-type: none;
    display: inline-flex;
    margin-bottom: 3px;
    padding-left: 0px;
    color: grey;
}
.dispatch-small-img{
    width: 70px;
}
.dispatch-chat{
    background-color: var(--main-color-greylight);
    border: 1px solid rgb(212, 210, 210);
}
.p-25{
    padding: 25px;
}
.dispatch-name{
    margin-right: 10px;
    font-weight: bold;
}
.border-bottom{
    border-bottom: 1px solid rgb(212, 210, 210);
}
.mt-5{
    margin-top: -5px !important;
}
@media only screen and (max-width: 600px){
    .map-name{
        h5{
            font-size: 16px
        }
    }
    .home-content{
        .container{
            bottom: 0px;

            h4{
                font-size: 18px;
                margin-bottom: 2px;
            }
        }
    }
    .dispatch-star{
        margin-bottom: 10px;
    }
    .restaurant-banner{
        .nav{
            .nav-link{
                width: auto;
                padding: .5rem;
            }
        }
        .nav-link.active::after{
            width: 15px !important;
            height: 10px !important;
            z-index: 20;
            clip-path: polygon(0 0, 100% 0, 50% 100%);
        }
    }
    .dispatch-time{
        display: block;
    }
    
}