
nav{
    font-family: var(--main-font-montserrat) !important;
    background: rgba(0,97,146,1);
    background: -moz-linear-gradient(left, rgba(0, 97, 146, 0.411) 0%, rgba(2,21,68,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,97,146,1)), color-stop(100%, rgba(2,21,68,1)));
    background: -webkit-linear-gradient(left, rgba(0,97,146,1) 0%, rgba(2,21,68,1) 100%);
    background: -o-linear-gradient(left, rgba(0,97,146,1) 0%, rgba(2,21,68,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,97,146,1) 0%, rgba(2,21,68,1) 100%);
    background: linear-gradient(to right, rgba(0,97,146,1) 0%, rgba(2,21,68,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006192', endColorstr='#021544', GradientType=1 );
}
.navbar-nav a{
    color: white;
}
.navbar-nav a.active{
    color: var(--main-color-secondary);
}
.navbar-nav a:active{
    color: var(--main-color-secondary);
}
.navbar-nav a:hover{
    color: var(--main-color-secondary);
}
.button{
    background-color: var(--main-color-primary);
    border-radius: 20px;
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: flex-end;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}