<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" (click)="navigatePage()">
      <img src="../../../assets/logo-white.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="['/courier']" routerLinkActive="active">Courier Services</a>
            <a class="nav-item nav-link" [routerLink]="['/food-delivery']" routerLinkActive="active">Food delivery</a>
            <a class="nav-item nav-link" routerLinkActive="active">How it Works</a>
            <a class="nav-item nav-link" routerLinkActive="active">FAQs</a>
            <a class="nav-item nav-link" [routerLink]="['/register']" routerLinkActive="active">Sign In</a>
            <a class="nav-item nav-link button" role="button" href="#" data-toggle="modal" data-target="#exampleModal">Become a Dispatcher</a>
      </div>
    </div>
  </div>
</nav>