<app-home-nav></app-home-nav>
<app-courier-tab></app-courier-tab>

<div class="container">
    <h2>History</h2>

    <br>
    <div class="table-responsive">
        <table class="table">
            <thead class="text-center">
                <tr class="make-grey">
                    <th scope="col">Date</th>
                    <th scope="col">Dispatcher Info</th>
                    <th scope="col">Status</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">10/12/2019</th>
                    <td>
                        <div class="row text-left">
                            <div class="col-md-3">
                                <div>
                                    <img src="../../../../assets/dispatch.png">
                                </div>
                            </div>
                            <div class="col-md-9 dispatch-p">
                                <p>Babatunde Marvel</p>
                                <p><i class="fas fa-star"></i></p>
                            </div>
                        </div>
                    </td>
                    <td>Completed</td>
                    <td>₦2000.00</td>
                    <td>
                        <div class="table-map">
                            <img src="../../../../assets/smallmap.png">
                        </div>
                    </td>
                </tr>     
                <tr>
                        <th scope="row">10/12/2019</th>
                        <td>
                            <div class="row text-left">
                                <div class="col-md-3">
                                    <div>
                                        <img src="../../../../assets/dispatch.png">
                                    </div>
                                </div>
                                <div class="col-md-9 dispatch-p">
                                    <p>Babatunde Marvel</p>
                                    <p><i class="fas fa-star"></i></p>
                                </div>
                            </div>
                        </td>
                        <td>Completed</td>
                        <td>₦2000.00</td>
                        <td>
                            <div class="table-map">
                                <img src="../../../../assets/smallmap.png">
                            </div>
                        </td>
                    </tr>     
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>