.home-banner{
    height: 70vh;
    background-image: url(../../../../assets/food-delivery-home.png);
    background-size: cover;
    position: relative;
}
.home-content{
    text-align: center;
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;

    .input-group{
        border-radius: 30px;
        select{
            height: calc(4rem + 2px);          
            border: transparent;
        }
        .city-form{
            border-right: 1px solid grey;
            border-bottom-left-radius: 32px;
            border-top-left-radius: 33px;
        }
    
        span{
            color: white;
            background-color: var(--main-color-primary);
            padding: 20px 35px;
            border-bottom-right-radius: 32px;
            border-top-right-radius: 33px;
        }
    }
    h1{
        font-family: var(--main-font-montserrat);
        font-weight: 800;
        color: var(--main-color-darkblue);

    }
}
.stat{
    padding: 20px;
    p{
        width: 125px;
        font-family: var(--main-font-roboto) !important;
        color: #8A959E;
    }
}
.download-app{
    margin-top: 12%;
}
.google-image{
    width: 150px;
    margin-top: 30px;
    
}
.app-bg{
    background: rgba(0,97,146,1);
    background: -moz-linear-gradient(left, rgba(2,21,68,1) 0%,  rgba(0, 97, 146, 0.411) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,21,68,1)), color-stop(100% rgba(0,97,146,1)));
    background: -webkit-linear-gradient(left, rgba(2,21,68,1) 0%, rgba(0,97,146,1)100%);
    background: -o-linear-gradient(left, rgba(2,21,68,1) 0%, rgba(0,97,146,1)100%);
    background: -ms-linear-gradient(left, rgba(2,21,68,1) 0%, rgba(0,97,146,1)100%);
    background: linear-gradient(to right, rgba(2,21,68,1) 0%, rgba(0,97,146,1)100%);
    

    color: white;
    // height: 320px;

    p{
        font-family: var(--main-font-montserrat);
    }

}
.view a{
    color: var(--main-color-darkblue) !important;
}
.feature-img{
    background-color: white;
    margin: 0 auto;
    border-radius: 100%;
    height: 150px;
    width: 150px;
}
.ptb-50{
    padding: 30px 0px;
}
.vehicle{
    h3{
        color: var(--main-color-primary);
    }
}
@media only screen and (max-width: 600px){
    .carousel-heading{
        font-size: 22px;
    }
    .stat{
        p{
            width: auto;
            font-weight: bold;
            color: var(--main-color-primary);
            margin-top: 20px !important;
        }
    }
    .home-banner{
        height: 42vh;
    }
    .home-content{
        top: 33%;

        h1{
            font-size: 20px;
            font-weight: bold;
        }
        h3{
            width: auto;
            font-size: 18px;
            margin-bottom: 20px;
        }
        .input-group{
            .button-span{
                padding: 0px;
                font-size: 12px;
                padding: 10px;
            }
            select{
                height: 3rem;
            }
            input::placeholder{
                font-size: 12px;
            }
        }
    }
}