<app-home-nav></app-home-nav>

<app-food-delivery-tab></app-food-delivery-tab>
<div class="home-banner">
    <div class="home-content container">
        <div>
            <h1>Food Delivery Directly To Your Doorstep</h1>
        </div>
        <br>
        <div class="input-group box-shadow">
            <select class="form-control city-form">
                <option>Select City</option>
                <option>Lagos</option>
            </select>
            <select class="form-control area-form">
                    <option>Select Area</option>
                    <option>Lagos</option>
            </select>
            <div class="input-group-append">
                <span class="input-group-text button-span" id="basic-addon2">Register</span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="stat">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-3">
                        <img src="../../../../assets/store.png">
                    </div>
                    <div class="col-lg-9 col-md-9 col-9">
                        <p>Over 500 Restaurants</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="stat">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-3">
                        <img src="../../../../assets/take-away.png">
                    </div>
                    <div class="col-lg-9 col-md-9 col-9">
                        <p>Over 2000 Deliveries Made</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="stat">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-3">
                        <img src="../../../../assets/group.png">
                    </div>
                    <div class="col-lg-9 col-md-9 col-9">
                        <p>Over 500 Registered Customers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container mtb-40">
    <div class="text-center">
        <h3 class="make-grey carousel-heading roboto">Recommended Restuarant</h3>
        <p class="pull-right view"><a>View all Restaurants</a></p>
    </div>
    <br>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-3 col-12">
                        <app-restaurant-card></app-restaurant-card>
                    </div>
                    <div class="col-md-3 d-none d-md-block">
                        <app-restaurant-card></app-restaurant-card>
                    </div>
                    <div class="col-md-3 d-none d-md-block">
                        <app-restaurant-card></app-restaurant-card>
                    </div>
                    <div class="col-md-3 d-none d-md-block">
                        <app-restaurant-card></app-restaurant-card>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-3 col-12">
                        <app-restaurant-card></app-restaurant-card>
                    </div>
                    <div class="col-md-3 d-none d-md-block">
                        <app-restaurant-card></app-restaurant-card>
                    </div>
                    <div class="col-md-3 d-none d-md-block">
                        <app-restaurant-card></app-restaurant-card>
                    </div>
                    <div class="col-md-3 d-none d-md-block">
                        <app-restaurant-card></app-restaurant-card>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<br>
<div class="app-bg mtb-40">
    <div class="container ptb-50">
        <h2 class="text-center roboto">How it Works</h2>
        <br>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4">
                <div class="text-center">
                    <div class="feature-img">

                    </div>
                    <br>
                    <h4 class="roboto">Select Your Restaurants</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4">
                <div class="feature-img">

                </div>
                <br>
                <div class="text-center">
                    <h4 class="roboto">Select Your Desired Meal</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4">
                <div class="feature-img">

                </div>
                <br>
                <div class="text-center">
                    <h4 class="roboto">Get It Delivered Fast</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container mtb-40">
    <div class="text-center">
        <h3 class="make-grey carousel-heading roboto">Popular Restuarant</h3>
    </div>
    <br>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-3 col-12">
                        <app-restaurant-card></app-restaurant-card>
                    </div>
                    <div class="col-md-3 d-none d-md-block">
                        <app-restaurant-card></app-restaurant-card>
                    </div>
                    <div class="col-md-3 d-none d-md-block">
                        <app-restaurant-card></app-restaurant-card>
                    </div>
                    <div class="col-md-3 d-none d-md-block">
                        <app-restaurant-card></app-restaurant-card>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-3 col-12">
                        <app-restaurant-card></app-restaurant-card>
                    </div>
                    <div class="col-md-3 d-none d-md-block">
                        <app-restaurant-card></app-restaurant-card>
                    </div>
                    <div class="col-md-3 d-none d-md-block">
                        <app-restaurant-card></app-restaurant-card>
                    </div>
                    <div class="col-md-3 d-none d-md-block">
                        <app-restaurant-card></app-restaurant-card>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<br>
<app-google-play></app-google-play>
<br>

<br>
<div class="container mtb-40">
    <div class="vehicle text-center">
        <h3 class="make-bold color-heading">What Users Are Saying About BoxIt</h3>
    </div>
    <br>

    <app-testimony></app-testimony>
</div>
<br>
<app-footer></app-footer>