<div class="dispatch-banner mtb-40">
  <div class="gradient-bg">
    <div class="container">
      <div>
        <h2>Make Money On Boxit</h2>
        <h2>Become a Driver/Dispatcher</h2>
    
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        
        <button class="btn btn-primary">Register As a Dispatcher</button>
      </div>
    </div>
  </div>
</div>
