.dispatch-banner{
    height: 436px;
    position: relative;
    background-image: url(../../../assets/dispatch-bg.png);
    background-size: cover;
}
.gradient-bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/black-bg.png);
    background-size: cover;
    color: white;
}
.dispatch-banner .container{
    
    div{
        position: absolute;
        top: 30%;
        width: 500px;
        font-family: var(--main-font-montserrat);

        h2{
            font-weight: 700;
            margin-bottom: 15px;
        }
        p{
            margin: 15px 0px !important;
        }
    }
}
button{
    border-radius: 20px;
}

@media only screen and (max-width: 600px){
    .dispatch-banner{
        height: 200px;

        .container{
            div{
                top: 7%;
                width: auto;

                h2{
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 12px;
                    margin: 15px 0px !important;
                }
            }
        }
    }
}