<div class="box-shadow bg-white">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/food-delivery/home']" routerLinkActive="active" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/food-delivery/payment-method']" routerLinkActive="active">Payment Method</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/food-delivery', 'my-orders']" routerLinkActive="active">My Orders</a>
      </li>
      <li class="nav-item tab-left">
        <a class="nav-link" [routerLink]="['/food-delivery', 'checkout']">Cart</a>
      </li>
    </ul>
  </div>    
</div>

