<div class="container text-center mtb-40">
    <p class="make-bold">As Trusted By</p>
    <div class="flex-container">
        <div>
            <div class="trustee-logo">
                <img src="../../../assets/spectranet-logo.png">
            </div>
        </div>
        <div>
            <div class="trustee-logo">
                <img src="../../../assets/Bukka-Hut-Logo.png">
            </div>
        </div>
        <div>
            <div class="trustee-logo">
                <img src="../../../assets/mega-chicken.png">
            </div>
        </div>
        <div>
            <div class="trustee-logo">
                <img src="../../../assets/food.png">
            </div>
        </div>
        <div>
            <div class="trustee-logo">
                <img src="../../../assets/the-place.png">
            </div>
        </div>
    </div>
</div>