img{
    width: auto !important;
}
.ml-30{
    margin-left: 30px;
}
.inline{
    display: inline-flex;
}
.payment-list{
    ul{
        list-style-type: none;
        display: inline-flex;
        width: 100%;
        padding-left: 0px;
    }
}