<app-home-nav></app-home-nav>
<app-courier-tab></app-courier-tab>

<div class="container">
    <div>
        <h2 class="text-primary">Payment Method</h2>

        <p>These are Payment methods available for you to make delivery. Any Debit/Credit card added MUST belong to you</p>

        <hr>

        <div class="row">
            <div class="col-md-8">
                <div class="inline">
                    <div>
                        <img src="../../../../assets/card.png">
                    </div>
                    <div class="ml-30">
                        <p>Pay By Cash/Pay On Delivery</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-right">
                <button class="btn btn-primary">Set as Default</button>
            </div>
        </div>

        <hr>
        
        <div class="row">
            <div class="col-md-1 col-lg-1">
                <div>
                    <img src="../../../../assets/mastercard.png">
                </div>
            </div>
            <div class="col-md-11 col-lg-11">
                <div class="row payment-list">
                    <div class="col-md-6">
                        <ul>
                            <li>**** **** ****6303</li>
                            <li>Expires 01/2019</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li><a>Edit</a> | <a>Delete</a></li>
                            <li>Default</li>
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-right">
            <p><a class="text-primary">+ Add New </a></p>
        </div>
    </div>
    <br>
    <div>
        <div class="payment-logo">
            <img src="../../../../assets/allbanks.png">
        </div>
        <br>
        <p class="make-grey make-bold">This page and all is securely transmitted and encrypted. PCI Compliance, 3-D Secure, HTTPS, SSL encrytion.</p>
        
        <br>
        <p class="make-grey make-bold">Payments are processed securely by Flutterwave</p>
    </div>
    <br>
</div>

<app-footer></app-footer>