
  <div class="bg-white box-shadow m-10">
    <div>
      <img src="../../../assets/jollof.png">
    </div>
    <div class="p-10">
      <h5>Jollof Ectera</h5>
      <div>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        &nbsp;
        <span>(30)</span>
      </div>
    </div>
  </div>                              
