.newsletter-input{
    height: calc(4rem + 2px);
    border-radius: 30px;
    border: transparent;
}

.newsletter{
    box-shadow: 0px 5px 14px #c7c7c7;
    border-radius: 30px;
    
    span{
        color: white;
        background-color: var(--main-color-primary);
        padding: 20px 35px;
        border-bottom-right-radius: 32px;
        border-top-right-radius: 33px;
    }
}
h2{ 
    // font-size: 23px;
    font-family: var(--main-font-roboto) !important;
    font-weight: bold;
    color: var(--main-color-primary);
}
p{
    font-size: 13px;
}

@media only screen and (max-width: 600px){
    .newsletter-input{
        height: calc(3rem + 2px);
    }
    h2{
        font-size: 23px;
    }
    .newsletter{
        span{
            padding: 10px 10px;
        }
    }
}