<div class="container mtb-40">
  <div class="text-center">
      <h2 class="makeBold color-heading">Subscribe to Newsletter</h2>
      <p>Get first hand Info on promos and Bonuses. We keep your account details safe with us</p>
  </div>
  <br>
  <div class="text-center">
      <div class="input-group newsletter">
          <input type="text" class="form-control newsletter-input" placeholder="Enter Input Address">
          <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Register</span>
          </div>
      </div>
  </div>
</div>