.register-logo{
    width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.body{
    background-color: var(--main-color-primary);
    width: 100%;
    min-height: 100vh;
}
.register-content{
    margin: 0 auto;
    max-width: 450px;
    position: absolute;
    top: 8%;
    right: 0;
    left: 0;
}
.border-right{
    border-right: 1px solid grey;
}
.bg-white{
    background-color: white;
}
.social-icons{
    display: inline-flex;
    div{
        text-align: center;
        width: 50px;
        height: 50px;
        background-color: var(--main-color-primary);
        color: var(--main-color-white);
        border-radius: 100%;
        margin: 2px 10px;
        
    }
    a{
        font-size: 20px;  
    }
}
.text-primary{
    color: var(--main-color-primary) !important;
    margin-bottom: 2px;
    margin-top: 15px;
}
button{
    width: 100%;
    border-radius: 30px;
    font-size: 20px;
}
.nav-item{
    width: 50%;
}
.nav-link{
    color: var(--main-color-greytext) !important;
    font-weight: bold;
    cursor: pointer;
}
.sign-input {
    input{
        border: transparent;
        border-bottom: 1px solid var(--main-color-primary);
        border-radius: 0px;
    }
    input::placeholder{
        color: var(--main-color-greytext) !important;
    }
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--main-color-primary) !important;
    background-color: transparent;
}
.input-content{
    padding: 20px;
    margin: 20px;
}
.short-term{
    color: var(--main-color-white);
    margin: 20px;
}