.home-banner{
    height: 80vh;
    background-image: url(../../../assets/bg-header1.png);
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: center;
    background-color: rgba(10, 37, 83, 0.70);
    color: white;  
}
.feature-heading{
    margin-top: 70px;

    h2{
        font-family: var(--main-font-roboto) !important;
    }
}
.header-image{
    height: 80vh;

    img{
        height: 100%;
    }
}
.bg-white{
    background-color: white;
}
.pt-100{
    padding-top: 100px;
}
.home-banner h1{
    font-weight: bold;
    font-family: var(--main-font-montserrat) !important;
}
.google-image{
    width: 150px;
    margin-top: -10px;
}
.vehicle{
    h2{
        font-family: var(--main-font-roboto) !important;
    }
}
.color-secondary{
    color: var(--main-color-secondary);
}
.flex-container{
    justify-content: space-between;
    align-content: center;
}
.feature-img{
    width: 120px;
    height: 120px;
    margin-bottom: 40px;
}
.feature-img img{
    height: 100%;
}
.feature{ 
    padding: 30px;
}
.feature h5{
    margin-bottom: 20px;
}

.color-heading{
    color: #277ca4;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
    bottom: 0;
}
.map-container{
    // width: 750px;
    // height: 400px;
    margin: 0 auto;

    img{
        height: 100%;
    }
}
.carousel{
    min-height: 350px; 
    height: auto;
}
.carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgba(197, 193, 193, 0.719);
}
.carousel-indicator  .active{
    background-color: rgb(44, 43, 43);
}

@media (min-width: 1100px){

}
