<app-home-nav></app-home-nav>
<div class="home-banner">
    <div class="container">
        <div class="row">
            <div class="çol-md-5 col-12 col-lg-5">
                <div class="pt-100">
                    <h1>Pickup, Delivery and Food Ordering Made Easy</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. </p>
                </div>

                <br>
                <p class="color-secondary make-bold">Now Available on Andriod</p>
                <div class="google-image">
                    <img src="../../../assets/google-play.png">
                </div>
            </div>
            <div class="çol-md-7 col-lg-7 d-none d-md-block">
                <div class="header-image">
                    <img src="../../../assets/front-header.png">
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<app-sponsors></app-sponsors>

<div class="container text-center feature-heading mtb-40">
    <h2 class="make-bold color-heading">On demand Delivery and Restaurant Services</h2>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua."
    </p>
</div>

<div class="container mtb-40">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-12">
            <div class="feature">
                <div class="feature-img">
                    <img src="../../../assets/delivery.png">
                </div>
                <h5>Easiest Way to get your Pickup and Delivery Done</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-12">
            <div class="feature">
                <div class="feature-img">
                    <img src="../../../assets/meal.png">
                </div>
                <h5>Get Food Delivered to Your Doorstep Quickly</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-12">
            <div class="feature">
                <div class="feature-img">
                    <img src="../../../assets/guarantee.png">
                </div>
                <h5>Low Cost Rate and Excellent Value</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
</div>

<br>
<app-google-play></app-google-play>
<br>

<div class="container text-center mtb-40">
    <div class="vehicle">
        <h2 class="make-bold color-heading">No Matter the size</h2>
        <p>We have dispatchers across the country with different types of vehicles ranging from Motorbikes, Salon Cars and
            vans.
        </p>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 col-lg-4 col-4">
            <div>
                <img src="../../../assets/bike.png">
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-4 relative">
            <div class="absolute">
                <img src="../../../assets/car.png">
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-4">
            <div class="absolute">
                <img src="../../../assets/van.png">
            </div>
        </div>
    </div>
    <br>
    <div class="map-container mtb-40">
        <img src="../../../assets/map.png">
    </div>
</div>

<br>
<app-dispatch-banner></app-dispatch-banner>


<br>

<div class="container mtb-40">
    <div class="vehicle text-center">
        <h2 class="make-bold color-heading">What Users Are Saying About BoxIt</h2>
    </div>

    <br>

    <div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <app-testimony></app-testimony>
                </div>
                <div class="carousel-item">
                    <app-testimony></app-testimony>
                </div>
                <div class="carousel-item">
                    <app-testimony></app-testimony>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<app-newsletter></app-newsletter>
<br>

<app-footer></app-footer>

