<div class="app mtb-40">
  <div class="app-bg-img">
      <div class="app-content">
          <h4>Download Our App</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

          <br>
          <div class="google-image">
              <img src="../../../assets/google-play.png"> 
          </div>
      </div>
  </div>
</div>
