.google-image{
    width: 180px;
    margin-top: -20px;
}
.google-image img{
    width: 100%;
}
.app-bg-img{
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/app.png);
    background-size: cover;
}
.app-content{
    position: absolute;
    top: 40%;
    left: 46%;
    color: white;
    width: 450px;
    font-family: var(--main-font-montserrat);

    h4{
        font-weight: 700;
    }
}
.app{
    background-color: black;
    width: 100%;
    height: 436px;
    position: relative;
}
@media only screen and (max-width: 600px){
    .app{
        height: 150px;
    }
    .app-content{
        top: 2%;
        left: 49%;
        width: 181px;
        p{
            font-size: 8px !important;
        }
    }
    .google-image{
        width: 100px;
    }
}
