<app-home-nav></app-home-nav>

<app-food-delivery-tab></app-food-delivery-tab>
<div class="home-banner">
  <div class="home-content">
      
  </div>
</div>

<div class="container">
  <p>Home <i class="fas fa-chevron-right"></i> <a>Checkout</a></p>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <h3>Buyer Info</h3>
      
      <hr>

      <div class="form-group">
        <div class="input-group">
          <input type="text" placeholder="Full Name *" class="form-control">
        </div>
        <div class="input-group">
          <input type="text" placeholder="Street Address *" class="form-control">
        </div>
        <div class="input-group">
          <input type="text" placeholder="State *" class="form-control">
        </div>
        <div class="input-group">
          <input type="text" placeholder="LGA *" class="form-control">
        </div>
        <div class="input-group">
          <input type="number" placeholder="Phone Number *" class="form-control">
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="input-group">
                <input type="number" placeholder="Zip Code *" class="form-control">
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="input-group">
                    <input type="number" placeholder="Postal Code *" class="form-control">
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6">
      <h3>Payment Method</h3>
      
      <hr>

      <div class="form-group">
          <div class="row">
              <div class="col-md-4 col-lg-4">
                <div class="input-group">
                  <input type="number" placeholder="Zip Code *" class="form-control">
                </div>
              </div>
              <div class="col-md-4 col-lg-4">
                  <div class="input-group">
                      <input type="number" placeholder="Postal Code *" class="form-control">
                  </div>
              </div>
              <div class="col-md-4 col-lg-4">

              </div>
          </div>
        <div class="input-group">
          <input type="Number" placeholder="Card Number *" class="form-control">
        </div>
        <div class="input-group">
          <input type="text" placeholder="Name on Card *" class="form-control">
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4">
              <div class="input-group">
                <input type="month" placeholder="Month*" class="form-control">
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="input-group">
                    <input type="year" placeholder="Year *" class="form-control">
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="input-group">
                    <input type="number" placeholder="CVV *" class="form-control">
                </div>
            </div>
        </div>
        <div class="input-group">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-card">
            <label class="custom-control-label" for="save-card">Save Details for future purchases</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-right">
    <button class="btn btn-primary">Place Order</button>
  </div>
</div>


<br>
<app-google-play></app-google-play>
<br>
<app-newsletter></app-newsletter>

<br>
<app-footer></app-footer>
