.input-group{
    margin-bottom: 15px;
}
.home-banner{
    height: 60vh;
    background-image: url(../../../../assets/food-delivery-home.png);
    background-size: cover;
    position: relative;
}
.home-content{
    text-align: center;
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
}