.newsletter-input{
    height: calc(4rem + 2px);
    border-radius: 30px;
    border: transparent;
}

.newsletter{
    box-shadow: 0px 5px 14px #c7c7c7;
    border-radius: 30px;
    
    span{
        color: white;
        background-color: var(--main-color-primary);
        padding: 20px;
        border-bottom-right-radius: 32px;
        border-top-right-radius: 33px;
    }
}
.home-banner{
    height: 70vh;
    background-image: url(../../../../assets/food-delivery-home.png);
    background-size: cover;
    position: relative;
    
}
.home-content{
    text-align: center;
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;

}
.filter-pagination{
    position: relative;
    margin-bottom: 30px;

    nav{
        position: absolute;
        right: 0;
    }
    .page-item.active .page-link{
        background-image: linear-gradient(to right, rgba(2,21,68,1), rgba(0,97,146,1)) !important;
        border: transparent;
        color: white;
    }
    .page-link{
        color: var(--main-color-primary);
    }
}
.t-50{
    position: relative;
    top: 50%;
}
.restaurant{
    margin-bottom: 15px;
    button{
        border-radius: 4px !important;
    }
}
.restaurant:nth-child(odd) button{
    background-image: linear-gradient(to right, rgba(2,21,68,1), rgba(0,97,146,1)) !important;
    color: white;
}
.restaurant:nth-child(even) button{
    border: 1px solid rgba(2,21,68,1);
    color: rgba(2,21,68,1);
    background-color: white;
}
.mb-10{
    margin-bottom: 10px;
}
@media only screen and (max-width: 600px){
    .t-50{
        top: 0px;
    }
    .restaurant{
        button{
            font-size: 12px;
        }
    }
    .home-banner{
        height: 40vh;

        h1{
            font-size: 20px;
            font-weight: bold;
        }
    }
    .newsletter{
        span{
            padding: 10px;
        }
        .newsletter-input{
            height: calc(3rem + 2px); 
        } 
    }
     
}