<app-home-nav></app-home-nav>

<app-food-delivery-tab></app-food-delivery-tab>

<div class="home-banner">
    <div class="home-content">
        <div>
            <h1>Search by Food or Restuarant</h1>
        </div>
        <br>
        <div class="container">
          <div class="text-center">
              <div class="input-group newsletter">
                  <input type="text" class="form-control newsletter-input" placeholder="Enter Input Address">
                  <span class="input-group-addon">Register Boxit</span>
              </div>
          </div>
        </div>
    </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-lg-3 bg-white p-10 mb-10">
      <div>
        <h6>FILTER</h6>

        <div>
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <br>
        <form>
          <div class="form-group">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="restaurant1">
              <label class="custom-control-label" for="restaurant1">Chinese</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="restaurant2">
              <label class="custom-control-label" for="restaurant2">African</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="restaurant3">
              <label class="custom-control-label" for="restaurant3">Nigerian</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="restaurant4">
              <label class="custom-control-label" for="restaurant4">International</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="restaurant5">
              <label class="custom-control-label" for="restaurant5">Italian</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="restaurant6">
              <label class="custom-control-label" for="restaurant6">Thai Cuisine</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="restaurant7">
              <label class="custom-control-label" for="restaurant7">Breakfast</label>
            </div>
          </div>
        </form>
      </div>

      <hr>
      <div>
        <h6>RATINGS</h6>

        <div class="form-group">
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="rating5">
            <label class="custom-control-label" for="rating5">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="rating4">
            <label class="custom-control-label" for="rating4">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="rating3">
            <label class="custom-control-label" for="rating3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="rating2">
            <label class="custom-control-label" for="rating2">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="rating1">
            <label class="custom-control-label" for="rating1">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </label>
          </div>
        </div>
      </div>

      <div>
        <button class="btn btn-primary btn-block">Apply</button>
      </div>
    </div>

    <div class="col-md-9 col-lg-9">
      <div class="filter-pagination">
        <nav aria-label="">
          <ul class="pagination">
            <li class="page-item active">
              <a class="page-link" href="#" tabindex="-1">All</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">Closed</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">Open</a></li>
          </ul>
        </nav>
      </div>
      <br>
      <div>
        <div class="restaurant bg-white p-10">
          <div class="row">
            <div class="col-md-2 col-4">
              <img src="../../../../assets/jollof.png">
            </div>
            <div class="col-md-10 col-8">
              <div class="row">
                <div class="col-md-9 col-12">
                  <h5>Jollof Etcetera</h5>
                  <p>African, Nigerian, International</p>
                  <div>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
                <div class="col-md-3 col-12 text-right">
                  <button class="btn vertical t-50">Start Ordering</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="restaurant bg-white p-10">
            <div class="row">
              <div class="col-md-2 col-4">
                <img src="../../../../assets/jollof.png">
              </div>
              <div class="col-md-10 col-8">
                <div class="row">
                  <div class="col-md-9 col-12">
                    <h5>Jollof Etcetera</h5>
                    <p>African, Nigerian, International</p>
                    <div>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                  <div class="col-md-3 col-12 text-right">
                    <button class="btn vertical t-50">Start Ordering</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<br>

<br>
<app-google-play></app-google-play>

<br>
<app-newsletter></app-newsletter>

<br>
<app-footer></app-footer>