<app-home-nav></app-home-nav>
<app-courier-tab></app-courier-tab>

<div class="container">
  <div>
    <h2 class="text-primary">Delivery Details</h2>
    <br>
    <p><i class="fas fa-chevron-left"></i> Back</p>
  </div>

  <div class="row mtb-40">
    <div class="col-md-5 col-lg-5">
      <div>
        <div class="row">
          <div class="col-md-6 col-lg-6 col-6">
            <div>
              <p class="make-grey">Date</p>
              <p class="make-bold">10-10-2018</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-6">
              <div>
                  <p class="make-grey">Service Charge</p>
                  <p class="make-bold">10-10-2018</p>
              </div>
          </div>
        </div>
      </div>

      <div>
        <p class="make-grey3">Dispatcher Info</p>

        <div class="text-center">
          <div class="dispatch-img">
            <img src="../../../../assets/dispatch.png">
          </div>
          <h6>Babatunde Marvel</h6>
          <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
        </div>

      </div>
      <div>
          <hr>
          <div class="row">
            <div class="col-md-6 col-6">
              <h6 class="text-primary">Toyota Camry</h6>
              <p class="make-grey">Car type</p>
            </div>
            <div class="col-md-6 col-6">
              <h6>AA884BKN</h6>
              <p class="make-grey">Plate No</p>
            </div>
          </div>
          <hr>
      </div>
      <div>
        <div>
          <p class="make-grey">Pickup Address</p>
          <ul class="list-type">
            <li>Victoria Crest estate 2</li>
          </ul>
        </div>
        <div>
            <p class="make-grey">Delivery Address</p>
            <ul class="list-type">
              <li>Bisola Durotimi Lekki Phase 1</li>
            </ul>
          </div>
      </div>
    </div>

    <div class="col-md-7 col-lg-7">
      <div>
        <img src="../../../../assets/map.png">
      </div>
    </div>
  </div>

  <hr>
  <div class="text-right">
    <p class="make-grey">Report a problem with this delivery</p>
  </div>
</div>
<br>
<app-footer></app-footer>