/* You can add global styles to this file, and also import other style files */




:root {
    --main-color-secondary: #FFCF27;
    --main-color-primary: #006494;
    --main-color-darkblue: rgba(2,21,68,1);
    --main-color-greytext: #676768;
    --main-color-grey: rgb(175, 174, 174);
    --main-color-dark: #000000;
    --main-color-greylight: #fbfbfc;
    --main-color-white: #ffffff;
    --main-font-roboto: 'Roboto Slab', sans-serif;
    --main-font-lato: 'Lato', sans-serif;
    --main-font-montserrat: 'Montserrat', sans-serif;
    --main-font-ubuntu: 'Ubuntu', sans-serif;
}

body{
    font-family: var(--main-font-lato) !important;
    background-color: #f8f8f9 !important;
    overflow-x: hidden;
    position: relative;
    
}
p{
    font-size: 14px;
}
img{
    width: 100%;
}
.flex-container{
    display: flex;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.make-bold{
    font-weight: bold;
}
.container{
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.mtb-40{
    margin-top: 40px;
    margin-bottom: 40px;
}
.text-primary{
    color: var(--main-color-primary) !important;
}
.make-grey{
    color: grey;
}
.btn-primary{
    background: rgba(0,97,146,1);
    background: -moz-linear-gradient(left, rgba(2,21,68,1) 0%,  rgba(0, 97, 146, 0.411) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,21,68,1)), color-stop(100% rgba(0,97,146,1)));
    background: -webkit-linear-gradient(left, rgba(2,21,68,1) 0%, rgba(0,97,146,1)100%);
    background: -o-linear-gradient(left, rgba(2,21,68,1) 0%, rgba(0,97,146,1)100%);
    background: -ms-linear-gradient(left, rgba(2,21,68,1) 0%, rgba(0,97,146,1)100%);
    background: linear-gradient(to right, rgba(2,21,68,1) 0%, rgba(0,97,146,1)100%);
    border-radius: 20px !important;
    border-color: transparent !important;
}
p{
    margin: 5px 0px !important;
}
.bg-white{
    background-color: white;
}
.p-10{
    padding: 10px;
}
.box-shadow{
    box-shadow: 3px 8px 31px -10px rgb(219, 219, 219);
}
.roboto{
    font-family: var(--main-font-roboto);
}
.dark{
    color: var(--main-color-dark) !important;
}
@media (min-width: 1200px) and (max-width: 1500px){

    .container {
        max-width: 1100px !important;
    }
}