.nav-item a{
    color: grey;
}

.nav-item a:active{
    text-decoration: underline;
    color: var(--main-color-primary);
}
.nav-item a:hover{
    color: var(--main-color-primary);
}
.nav{
    padding: 6px;
}
.box-shadow {
    box-shadow: 0px 0px 5px #c5c5c5;
}