<div class="box-shadow bg-white">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/courier/home']" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/courier', 'payment-method']" routerLinkActive="active">Payment Method</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/courier', 'history']" routerLinkActive="active">History</a>
      </li>
    </ul>
  </div>
</div>
